/*  Comments    */

body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #747704;
}

.text-muted {
    color:#BCBBBB;
}

.text-thin {
    font-weight: 100
}

.title-super {
    font-size: 60px
}

.title-logo {
    margin-top: 20px
}

.landscape {
    float:left;
    width:50%;
    height:50%;
    overflow:hidden;
}

.landscape  img{
    width:auto;
    height: 50%;
    }

.portrait {
    float:left;
    width:50%;
    height:50%;
    overflow:hidden;
    }

.portrait img {
    width:50%;
    height: auto;
    }