  html, body {
  height: 100%;
}

body {
  background: #000A35;
  color: #000A35;
  height: 100%;
  font-family: 'Audiowide', sans-serif;
}
body > div {
  height: 100%;
}

.architecture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  box-sizing: border-box;
  margin: 5% 5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.9);
}
.architecture .three {
  -webkit-box-flex: 10;
      -ms-flex: 10 0 8rem;
          flex: 10 0 8rem;
}
.architecture .two {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 6rem;
          flex: 1 0 6rem;
}
.architecture .one {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 4rem;
          flex: 1 0 4rem;
}
.architecture .title {
  font-size: 2rem;
}
.architecture .row {
  background: #54b6db;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  overflow: hidden;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.architecture .row .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 100%;
}
.architecture .row .content .block {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0.5;
      flex-shrink: 0.5;
  margin: 0.25rem;
  padding: 2%;
  overflow: hidden;
}
.architecture .row .content .block.add {
  font-size: 1.4rem;
  font-style: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background: #0D7CC4;
  color: white;
}
.architecture .row .content .block.add:hover {
  color: white;
  background: #000A35;
}
.architecture .row .content .multirows {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.architecture .row .content .multirows .block {
  margin: 0.25rem;
  padding: 1rem;
  background: #000a35;
  color: white;
}
.architecture .row .content .multirows .block.add {
  background: #0D7CC4;
}
.architecture .row .content .multirows .row {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 5rem;
          flex: 1 0 5rem;
}
.architecture .row .block {
  background: #000a35;
  color: white;
  padding: 1rem;
  margin: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}
.architecture .row .block .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.architecture .row .block .rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.architecture .row .block .rows .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.architecture .row .overlay {
  color: white;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.architecture .row .overlay:hover {
  opacity: 1;
}
.architecture .row .overlay.short {
  position: absolute;
  width: 100%;
}
.architecture .row .overlay .block {
  opacity: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(13, 124, 196, 0.9);
  margin: 0;
}
.architecture .row.columns, .architecture .row .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.architecture .row.columns > .block, .architecture .row .columns > .block {
  width: 25%;
}
.architecture .row.columns > .block .rows, .architecture .row .columns > .block .rows {
  padding: 0;
}
.architecture .row.columns > .block {
  padding: 0;
}
.architecture .row.columns > .block .row {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 5rem;
          flex: 1 0 5rem;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
